.company-overview {
	display: flex;
	/* align-items: center; */
}

.description {
	padding: 24px 36px 24px 0;
	flex: 2;
}

.description h1 {
	margin-bottom: 16px;
}

.description p {
	color: var(--text-color-300);
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-sm);
	line-height: 18px;
}

.description-sector {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 16px;
	color: var(--text-color-200);
}

.description-sector-left > p,
.description-sector-right > p {
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-xsm);
	color: var(--text-color-200);
	margin-bottom: 4px;
}

.sector-badge {
	display: flex;
	align-items: center;
	gap: 4px;
	border-radius: 4px;
	padding: 4px;
	padding-right: 6px;
	width: fit-content;
	height: 26px;
	background-color: #e2f0eb;
}
.sector-badge-label {
	color: #209464;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-500);
	display: inline-block;
}

.description-sector-right > p {
	padding-left: 12px;
}

.likes {
	display: flex;
	gap: 4px;
	border-left: 1px solid var(--separator-color);
	padding-left: 12px;
}

.like-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 50%;
	background-color: var(--separator-color);
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
	outline: none;
}

.thumbs-icon {
	width: 16px;
	height: 16px;
}

.thumbs-down {
	transform: rotate(180deg);
}

.description-contact {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;
	color: var(--text-color-300);
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-sm);
}

.description-contact-item {
	display: flex;
	align-items: center;
	gap: 8px;
}

.financials {
	padding: 36px 12px;
	flex: 1;
	border-left: 1px solid var(--separator-color);
}

.financials h2 {
	margin-bottom: 16px;
}

.score {
	display: flex;
	flex-direction: column;
}

.score-grade {
	font-size: 52px;
	color: #209464;
	line-height: 56px;
	letter-spacing: 8px;
}

.score-label {
	font-weight: var(--font-weight-400);
	font-size: var(--font-size-xsm);
	color: var(--text-color-200);
}

.financials-data {
	margin-top: 16px;
	display: flex;
	gap: 60px;
}

.financials-data-column {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.financials-data-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.financials-data-value {
	font-size: 22px;
	color: var(--text-color-500);
	font-weight: var(--font-weight-500);
}

.financials-data-label {
	font-size: 11px;
	color: var(--text-color-200);
	font-weight: var(--font-weight-400);
}

.indicators {
	padding: 36px 0 36px 12px;
	flex: 1;
	border-left: 1px solid var(--separator-color);
}

.indicators-legend {
	margin-top: 16px;
}

.indicators h2 {
	width: 284px;
	height: 15px;
	margin-bottom: 24px;
}
