*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

/* high/xl.medium company name
font-family: Inter;
font-weight: 500;
font-size: 28px;
line-height: 32px;
letter-spacing: 0%; */

/* high/xs.medium collapsible
font-family: Inter;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0%; */

/* mid/l.medium table main
font-family: Inter;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%; */

/* mid/s.medium table normal
font-family: Inter;
font-weight: 500;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%; */

/* mid/mregular texto company name
font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%; */

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--max-width: 1280px;
	--background-color: #fcfcfd;
	--separator-color: #e6e6e6;
	--separator-color-dark: #cccccc;

	--color-red: #e91c11;

	--text-color-500: #18181b;
	--text-color-300: #626266;
	--text-color-200: #8f8f91;

	--text-weight-400: 400;
	--text-weight-500: 500;

	--font-size-xl: 1.75rem; /* 28px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-m: 1rem; /* 16px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-xsm: 0.75rem; /* 12px */

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--background-color);
	color: var(--text-color-500);
}

.app-container {
	min-height: 100vh;
	min-height: 100dvh; /* Modern viewport height for mobile */
	display: flex;
	flex-direction: column;
}

.container {
	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
}

.relative {
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: var(--text-weight-500);
}

h2 {
	font-size: var(--font-size-m);
	font-weight: var(--text-weight-500);
}
